################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApplication/obj/Debug
/TestApplication/bin
/packages
/.vs/TestApplication
